// Fonts
$headings-font-family: 'Love Ya Like A Sister', cursive;
$font-family-base: 'Poppins', sans-serif;
$enable-responsive-font-sizes: true;


// Colors
$primary: #fff; 
$secondary: #7A44FE;
$dark: #000000;
$light: #414141;


// SCSS
.hero {
    background-image: url(/src/images/lidye-1Shk_PkNkNw-unsplash.jpg);
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
    height: 95vh;
}

.icon {
    height: 5.3rem;
    width: 5.3rem;

    & img {
        width: 100%;
        width: 100%;
        object-fit: cover;
    }
}

@import "../node_modules/bootstrap/scss/bootstrap";
